<aside>
	<div class="panel radius">
	  <!-- 	<h3>Sidebar</h3> -->
		<p>
	<a class="twitter-timeline" href="https://twitter.com/thecarpentries?ref_src=twsrc%5Etfw">Tweets by The Carpentries</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
		</p>
	</div>

  <!-- <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p> -->
	</div>
</aside>
