
<table class="table table-striped" style="width: 100%;">
{% for w in site.data.workshops2.workshops  %}
<tr>
    <td>
      <img src="{{site.url}}/files/flags/{{w.country | downcase}}.svg" 
	   title="{{w.country | replace: '-', ' '}}" alt="{{w.country | replace: '-', ' ' | downcase}}" width="30" />
    </td>
    <td>
	    <a href="{{w.url}}">{{w.venue}}</a><br />
	    Instructors: {{w.who}} Helpers: {{w.help}} 
    </td>
    <td width="10%">
      {{w.start}}
    </td>
</tr>
{% endfor %}
</table>
