
<table class="table table-striped" style="width: 100%;">
{% for w in site.data.workshops.workshops  %}
<tr>
    <td>
      <img src="{{site.url}}/files/flags/{{w.country | downcase}}.svg" 
	   title="{{w.country | replace: '-', ' '}}" alt="{{w.country | replace: '-', ' ' | downcase}}" width="40" />
    </td>
    <td>
	    <a href="{{w.site}}">{{w.venue}}</a><br />
	    Instructors: {{w.who}} 
	    <br />
	    Helpers: {{w.help}} 
    </td>
    <td width="18%">
      {{w.human_date}}
    </td>
</tr>
{% endfor %}
</table>

