---
layout: page-fullwidth
permalink: /governance/
title: Community Governance
---

<h2 id="lcgc">Governance Committee</h2>

<p>The Library Carpentry Governance Committee provides community leadership for the lesson program. The Committee is responsible for overseeing the strategy of the Library Carpentry project, and advocating for the program, its mission, and its community. The committee acts as a point of contact for Library Carpentry, representing the lesson program to The Carpentries Executive Council, the Core Team, and the wider world. Members of the group volunteer to serve two-year terms.</p>

<p>To contact the Library Carpentry Governance Committee, <a href="mailto:lc-governors@lists.carpentries.org">send an email to lc-governors@lists.carpentries.org</a>.</p>

{% include governance_gallery.html %}

<p>Established in 2023, The Governance Committee was preceded by an <a href="/advisory/">Advisory Group</a>, which discussed, planned, and pursued strategies for involving new and current members in Library Carpentry, with the aim of fostering greater participation in the community. Before that, a <a href="/team/">Steering Group</a> guided Library Carpentry through the merger process with The Carpentries, a task which was completed in 2019.</p>

<h2 id="cac">Curriculum Advisory Committee</h2>

<p>The Curriculum Advisory Committee guides and oversees the development and maintenance of Library Carpentry lessons. Curriculum Advisors identify opportunities for the curriculum to be updated and improved, ensuring that it stays relevant to Library Carpentry's target audience. They identify potential new lesson topics, and advise lesson Maintainers on major changes and updates to existing curriculum.</p>

<p>To contact the Library Carpentry Curriculum Advisory Committee, <a href="mailto:curriculum-advisors-lc@lists.carpentries.org">send an email to curriculum-advisors-lc@lists.carpentries.org</a>.</p>

{% include cac_gallery.html %}
