---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->



{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
{% endif %}

<div class="row t60">
  <div class="medium-20">


    <h2>Upcoming Workshops</h2>

    {% assign workshop_list = site.data.lc_upcoming_workshops %}
    {% include workshop_table.md %}

      <h4>Check out our <a href="/past_workshops/">past workshops.</a></h4>

  </div>
    </div><!-- /.row -->




<div class="row t60">
  <div class="medium-20">
    <h2>{{ site.data.language.new_blog_entries }}</h2>
          <p style="font-size: small; font-style: italic;">
          In addition to the posts below,
          find out what's happening in our community through
          <a href="https://carpentries.org/blog">The Carpentries blog</a>,
          a great resource that collates posts from Data Carpentry,
          Library Carpentry, and Software Carpentry, and
          publishes updates of general interest to the community.

          {% include list-posts entries='5' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->

{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
